@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
    font-family: "Inter", sans-serif;
}

main{
    height: auto;
    width: 100%;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotateBox {
    0%{
        transform:rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.container{
    max-width: 500px;
    width: 30vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 5px gray;
    border-radius: 20px;
    transform: rotate(-5deg);
    overflow: hidden;
    transition: transform 0.1s ease;
}


.container:hover{
    animation: rotateBox 1s ease;
}

.div_para{
    background-color: white;
    width: 100%;
    height: 140%;
}

p{
    padding: 2rem;
}

.div_user{
    background:linear-gradient(#74d690,#5cbfbb);
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}


.img_div{
    height: 8vh;
    width: 4vw;
    margin: 1rem;
    background-color: white;
    border-radius: 100%;
    background-size: cover;
  
}

.img_div img{
    margin: 0.25rem;
    height: 7vh;
    width: 3.5vw;
    border-radius: 100%;
    transition: transform 0.3s ease;

}

.container:hover .img_div img {
    transform: scale(1.15);
}